// # Place all the behaviors and hooks related to the matching controller here.
// # All this logic will automatically be available in application.js.
// # You can use CoffeeScript in this file: http://coffeescript.org/

// $(document).on('page:change', function(){

// 	var $zoid = $("#zoid");
// 	var lastclick = 0;
// 	var laststring = "";

// 	$zoid.after('<p id="warning" style="color: red">Enter a valid email!</p>');
// 	var $warning = $("#warning");
// 	$warning.hide();

// 	const EMAIL_REGEX = /^[\w+\-.]+@[a-z\d\-]+(\.[a-z\d\-]+)*\.[a-z]+$/i

// 	function sendAjax(){
// 		$.ajax({
// 		url: "/emailcheck",
// 		type: "GET",
// 		dataType: "json",
// 		data: { email: $("#zoid").val() },
// 		complete: function() {},
// 		success: function(data, textStatus, xhr) {
// 					if (data.email == '1') {
// 						$zoid.css("border-color", "red");
// 						$warning.text("Email already taken.");
// 						$warning.show();
// 					} else {
// 						$warning.hide();
// 						$zoid.css("border-color", "lime");
// 					}
// 				}
// 		});
// 	}

// 	function validEmail(string) {
// 		var email = string.toLowerCase();
// 		if (email.match(EMAIL_REGEX)){
// 			return true;
// 		} else {
// 			return false;
// 		}
// 	}

// 	$zoid.keyup(function(event) {
// 		lastclick = event.timeStamp / 1000;
// 	});

// 	// $zoid.keyup(function(event) {
// 	// 	var click = lastclick;
// 	// 	setTimeout(function(){
// 	// 		if (click == event.timeStamp / 1000) {
// 	// 			var entry = $zoid.val();
// 	// 			if (laststring != entry) {
// 	// 				if (validEmail(entry)) {
// 	// 					$warning.hide("fast");
// 	// 					laststring = entry;
// 	// 					console.log(entry);
// 	// 					sendAjax();
// 	// 				} else {
// 	// 					laststring = entry;
// 	// 					console.log('must be valid email');
// 	// 					$zoid.css('border-color', 'red');
// 	// 					$warning.show("fast");
// 	// 				}
					
// 	// 			}
// 	// 		}
// 	// 	}, 2000);
// 	// })

// 	function press(event) {
// 		var click = lastclick;
// 		setTimeout(function(){
// 			if (click == event.timeStamp / 1000) {
// 				var entry = $zoid.val();
// 				if (laststring != entry) {
// 					if (validEmail(entry)) {
// 						$warning.hide("fast");
// 						laststring = entry;
// 						console.log(entry);
// 						sendAjax();
// 					} else {
// 						laststring = entry;
// 						console.log('must be valid email');
// 						$warning.text('Enter a valid email address.');
// 						$zoid.css('border-color', 'red');
// 						$warning.show("fast");
// 					}
					
// 				}
// 			}
// 		}, 2000);
// 	}

// 	$zoid.keyup(function(event){
// 		press(event);
// 	}).focus(function(event){
// 		press(event);
// 	})

// });